.user-preferences {
  background-color: $color-primary;
  border-radius: 5%;
  border: 1px solid $color-secondary;
  box-shadow: 0 px 1px $color-secondary;
  -moz-border-radius: 5%;
  margin: 40px 2px;
  padding: 20px;
  width: 20%;
  height: auto;
  white-space: nowrap;
  z-index: 10;

  &--dark {
    background-color: $color-primary-dark;

    &::after {
      border-top-color: $color-primary-dark;
    }
  }

  &__title {
    font-family: $font-emphasis;
    font-size: 85%;
    padding-bottom: 5px;
  }

  &__toggle {
    margin-bottom: 10px;
  }

  &__apis {
    &--title {
      font-family: $font-emphasis;
      font-size: 80%;
      margin-top: 5px;
      padding: 10px 0;
      border-top: 1px solid $color-secondary;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    top: -5%;
    right: 5%;
    width: 0;
    height: 0;
    border: 19px solid $color-secondary;
    border-top-color: currentColor;
    color: $color-primary;
    border-bottom: 0;
    border-bottom: 0;
    margin-left: 70px;
    margin-bottom: 210px;
    transform: rotate(180deg) scaleX(-1);
    -webkit-transform: rotate(180deg) scaleX(-1);
    -moz-transform: rotate(180deg) scaleX(-1);
    -ms-transform: rotate(180deg) scaleX(-1);
    -o-transform: rotate(180deg) scaleX(-1);
  }
}
