.user-preferences {
  background-color: $color-primary;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  box-shadow: 0 0.125rem 0.125rem $color-secondary;
  padding: 1.2rem;
  width: 12rem;
  white-space: nowrap;
  z-index: 10;

  &__title {
    font-family: $font-emphasis;
    padding-bottom: 0.3rem;
  }

  &__toggle {
    margin-bottom: 0.625rem;
  }

  &__apis {
    &-title {
      font-family: $font-emphasis;
      font-size: 90%;
      margin-top: 0.3rem;
      padding: 0.625rem 0;
      border-top: 0.063rem solid $color-secondary;
    }
  }

  &__no-apis {
    font-size: 85%;
    font-style: italic;
    white-space: break-spaces;
  }

  &__item {
    padding: 0.2rem 0;
  }
}
