.loader {
  &__spinner {
    border: 1rem solid $color-primary;
    border-top: 1rem solid $color-blue;
    border-bottom: 1rem solid $color-blue;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite; /* Safari */
  }

  &__overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($color-shadow, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
