@import "../../assets/styles/mixins.scss";

.weather-compare {
  background-color: $color-primary;
  width: 100vw;
  height: auto;

  &--not-available {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

    & > img {
      width: 10rem;
      height: 10rem;
    }
  }

  &__cards {
    margin: 1rem auto;
    padding: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__card {
    margin-bottom: 2.5rem;
  }

  &__date {
    font-size: 85%;
    font-weight: 700;
    display: block;
    margin: 0.625rem auto;
    width: fit-content;
  }

  &__spacer {
    padding: 1.2rem;
    width: 100%;
    height: 4rem;

    &--large {
      height: 6rem;
    }
  }

  &__header {
    position: fixed;
    padding: 2rem 0 1rem;
    width: 100%;
    background-color: $color-primary;
    z-index: 3;
  }

  &__link {
    position: absolute;
    top: 2rem;
    left: 1.875rem;
    display: inline-block;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-highlight;
    }
  }

  &__heading {
    text-align: center;
    font-family: $font-emphasis;
    font-size: 130%;
    min-height: 1.7rem;

    &--placeholder {
      width: 35%;
      margin: 0 auto;
      height: 1.4rem;
      @include loading-item;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    &--button {
      font-size: 95%;
      margin: 0 0.3rem;
    }
  }
}

@media (min-width: 768px) {
  .weather-compare {
    &__heading {
      &--placeholder {
        width: 20%;
        height: 1.7rem;
      }
    }

    &__spacer {
      height: 5rem;

      &--large {
        height: 7rem;
      }
    }

    &__cards {
      margin: 1.25rem auto;
    }
  }
}
