.modal {
  &__overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color-shadow, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  &__content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    font-size: 90%;
    background-color: $color-secondary;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    transform: translate(-50%, -50%);
    min-width: 450px;

    &--dark {
      background-color: $color-secondary-dark;
    }
  }

  &__header {
    /* width: 100%; */
    padding: 10px 5px;
    background: $color-yellow;
    color: white;
    text-align: center;

    &--title {
      display: inline;
      margin: 0.5rem;
    }

    &--close {
      position: absolute;
      right: 10px;
      background-color: $color-transparent;
      display: inline-block;
      border-radius: 60px;
      /* padding: 0.5em 0.6em; */

      &:hover {
        cursor: pointer;
      }
    }
  }
  &__body {
    margin-top: 10px;
    padding: 20px 5px;
    text-align: center;
  }

  &__footer {
    text-align: center;
    padding: 10px 5px;
  }
}
