.input {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  
  &__field {
    height: 2rem;
    border: 0.063rem solid $color-primary;
    box-shadow: 0 0.125rem 0.125rem $color-shadow;
    font-size: 80%;
    padding: 0.3rem 1.2rem 0.3rem 0.625rem;
    width: 100%;

    &::placeholder {
      opacity: 0.6;
    }
  }

  &__icon {
    position: absolute;
    margin: auto 0;
    right: 0.625rem;
    color: $color-highlight;
    font-size: 80%;
    cursor: pointer;

    &:hover {
      font-size: 85%;
      font-weight: 700;
    }
  }
}
