.app {
  width: 100vw;
  height: 100vh;

  &__main {
    height: calc(100% - 3.5rem);
  }

  &__footer {
    width: 100%;
    background-color: $color-highlight;
    color: $color-font;
    height: 2.4rem;
    font-size: 75%;
    font-weight: 700;
    padding: 1.5rem 0 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 1rem;

    &-link {
      margin-left: 0.7rem;
      text-decoration: none;
      font-size: 160%;

      &:first-child {
        margin-left: 1rem;
      }
    }
  }
}
