$color-primary: #f4f4f4;
$color-secondary: #ffffff; //white
$color-font: #555555;
$color-shadow: #efefef;
$color-yellow: #f5ce42;
$color-highlight: #f5ce42;
$color-blue: #afccf1;
$color-disabled: #aaaaaa;
$color-transparent: Transparent;
$color-black: #000000;
$color-white: #ffffff;
$color-light-gray: #fcfcfc;
