/* $color-black: #000000;
$color-yellow-sand:#f5ce42;
$color-white: #ffffff;
$color-light-grey: #f4f4f4;
$color-white-grey: #f4f4f4; */

/* :root { */
$color-primary: #f4f4f4;
$color-secondary: #ffffff; //white
$color-font: #555555;
$color-shadow: #efefef;
$color-yellow: #f5ce42;
$color-yellow: #f5ce42;
$color-blue: #afccf1;
$color-disabled: #aaaaaa;
$color-transparent: Transparent;
/* } */

/*  [theme="dark"] {  */
$color-primary-dark: #121212;
$color-secondary-dark: #292929;
$color-font-dark: #ffffff;
$color-shadow-dark: #161625; ///VEEEEEEE
/*   $color-yellow: #f5ce42; //#94bcf0
  $color-blue: #afccf1;  
  $color-disabled: #aaaaaa;
 }   */
